body {
    background:black;
    color: white;
}
header {
    padding: 20px;
    display: flex;
}
div {
    background: red;
    display: inline-block;
    width: 100px;
    margin: auto;
}
section {
    background: white;
    padding: 20px;
    display: flex;
}
footer {
    padding: 20px 50%
}
ul {
    margin:0;
    padding:0;
    list-style-type: none;
}
li {
    display: inline-block;
    width: 100px;
    margin: auto;
}