body {background: gray}
div.content {
    width: 150px; height: 150px; border: 5px solid black; float: left; text-align: center; margin: 20px;
}
div#first{background:black}
div#second{background: white;}
button {position: relative; top: 200px; left: -250px; height: 50px; width:100px;}